
body {
    font-weight: 100;
    font-family: "Roboto", sans-serif;
}

.mdl-card__title-text p {
    font-size: 18px !important;
    line-height: 16px !important;
    margin: 0 !important;
}

/* .mdl-layout__header-row {
    height: 50px !important;
    padding: 0 16px 0 72px;
}
*/
.mdl-layout__header-row {
    height: 50px !important;
    padding: 0 16px 0 50px;
}

.mdl-card__title-greeting {
    float: left;
}

.mdl-card__title-text p {
    font-size: 24px;
}

.truncate {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img.icon {
    min-width:100%;
    max-width:100%;
}
/*
#top_title {
    background-image: url(../img/logo.png);
    height: 50px;
    background-position: center center;
    background-size: cover;
}
*/

#top_title img {
    min-height:100%;
    max-height: 100%;
    width:auto;
}
.mdl-layout__header {
    min-height: 56px;
    /*  padding-top: 20px !important; */
}

div.mdl-card__title-text {
    font-size: 24px !important;
}

/*.mdl-layout__drawer-button {
    border: 0 none;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 5px !important;
    height: 45px !important;
    left: 10px !important;
    overflow: hidden;
    text-align: center;
    top: 10px !important;
    width: 35px !important;
    z-index: 4;
}
*/
/*#status-bar {
	height:20px;
	  background: rgb(230, 10, 85) none repeat scroll 0 0;	
	  position:absolute;
	  top:0;
	  left:0;
}*/

.mdl-layout__drawer-button .material-icons {
    font-size: 25px !important;
    margin-top: 10px !important;
}
.demo-card-wide.mdl-card {
    width: 100%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url(../img/logo2x.png) center / cover rgb(209, 0, 0,) no-repeat;
    background-position-y: 4px;
    background-size: 130px 130px;
    padding:10px 20px 10px 20px !important;
}

/*.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('office.jpg') center / cover;
}*/

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-layout__drawer {

}

.demo-card-wide a {
    display: block;
}

#right_btn {
    position: absolute;
    top: 15px;
    right: 0;
    background: transparent;
    box-shadow: none !important;
}

div#swipe_menu {
    display: block;
    width: 90%;
    height: 56px;
}

span#top_title {
    text-align: center;
    margin: 20px 10px;
    font-size: 30px;
    height:30px;
}

.demo-list-icon {
    width: 300px;
}

.mdl-layout__drawer-button {
    display: none;
}
section {
    padding: 20px;

}

h1 {
    font-size: 28px !important;
    letter-spacing: -0.02em;
    line-height: 1.35;
    margin: 24px 0;
}

ul.center-list {

    margin-left: -20px;
}


ul.center-list li {
    list-style: none;
    margin-top: 0 !important;
    padding:20px;
    margin-left: -20px;
}

.mdl-layout.is-upgraded .mdl-layout__tab-panel {
    max-height: 100%;

}


main#fizzquizz, .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs.is-small-screen.is-upgraded{
    background: #d10000 !important;
    background: url(../img/bubbles.gif) #f8f8f8 no-repeat !important;
    background-size: cover !important;

}

.mdl-layout__content {
    background: url(../img/bubbles.gif) #f8f8f8 no-repeat !important;
    background-size: cover !important;
}

#loader {
    text-align: center;
    background: #fff;
    padding-top:80%;
    width: 100%;
    height:100%;
    z-index: 2000;
    position:fixed;
}

video {
    margin: 0 !important;
}

.mdl-button {
    margin: 0;
    border: none;
    padding: 0 24px;
    float: left;
    position: relative;
    display: block;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .6);
    overflow: hidden;
}

ul.answers > li {
    list-style: none;
    margin-bottom: 10px;
    margin-left: -20px;
    background: rgba(209, 0, 0, 0.8);
    border: 2px solid rgb(209, 0, 0);
    padding: 8px;
    border-radius: 30px;
}


/*#options > li > label > input[type="radio"] {display:none;}*/



ul.answers > li > label {
    font-size: 1.2em;
    line-height: 1.5em;
    color:#fff;
    font-family: "roboto";
}


#question* > h3, .question h3, h3 {
    margin-bottm:20px;
}

#slickQuiz > div.mdl-layout__container > div > header > div > div.mdl-menu__container.is-upgraded.is-visible > ul > li:nth-child(1)
{
    background: #ddd;
}


a:hover, a:focus {
    text-decoration: none !important;
}


.mdl-select {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.mdl-select__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 16px;
    text-align: left;
    color: inherit;
}

.mdl-select.is-focused .mdl-select__input {	outline: none; }
.mdl-select.is-invalid .mdl-select__input {
    border-color: rgb(222, 50, 38);
    box-shadow: none;
}

.mdl-select.is-disabled .mdl-select__input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
}

.mdl-select__label {
    bottom: 0;
    color: rgba(0,0,0, 0.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.mdl-select.is-dirty .mdl-select__label { visibility: hidden; }

.mdl-select--floating-label .mdl-textfield__label {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-select--floating-label.is-focused .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__label {
    color: rgb(63,81,181);
    font-size: 12px;
    top: 4px;
    visibility: visible;
}

.mdl-select--floating-label.is-focused .mdl-select__expandable-holder .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__expandable-holder .mdl-select__label {
    top: -16px;
}

.mdl-select--floating-label.is-invalid .mdl-select__label {
    color: rgb(222, 50, 38);
    font-size: 12px;
}

.mdl-select__label:after {
    background-color: rgb(63,81,181);
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px;
}

.mdl-select.is-focused .mdl-select__label:after {
    left: 0;
    visibility: visible;
    width: 100%;
}

.mdl-select.is-invalid .mdl-select__label:after {
    background-color: rgb(222, 50, 38);
}

.mdl-select__error {
    color: rgb(222, 50, 38);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
}

.mdl-select.is-invalid .mdl-select__error {
    visibility: visible;
}

.mdl-select__expandable-holder {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    max-width: 0.1px;
}

.mdl-select.is-focused .mdl-select__expandable-holder, .mdl-select.is-dirty .mdl-select__expandable-holder {
    max-width: 600px;
}

.mdl-select__expandable-holder .mdl-select__label:after {
    bottom: 0;
}













.mdl-select {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.mdl-select__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 16px;
    text-align: left;
    color: inherit;
}

.mdl-select.is-focused .mdl-select__input {	outline: none; }
.mdl-select.is-invalid .mdl-select__input {
    border-color: rgb(222, 50, 38);
    box-shadow: none;
}

.mdl-select.is-disabled .mdl-select__input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
}

.mdl-select__label {
    bottom: 0;
    color: rgba(0,0,0, 0.26);
    font-size: 12px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.mdl-select.is-dirty .mdl-select__label { visibility: hidden; }

.mdl-select--floating-label .mdl-textfield__label {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-select--floating-label.is-focused .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__label {
    color: rgb(63,81,181);
    font-size: 12px;
    top: 4px;
    visibility: visible;
}

.mdl-select--floating-label.is-focused .mdl-select__expandable-holder .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__expandable-holder .mdl-select__label {
    top: -16px;
}

.mdl-select--floating-label.is-invalid .mdl-select__label {
    color: rgb(222, 50, 38);
    font-size: 12px;
}

.mdl-select__label:after {
    background-color: rgb(63,81,181);
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px;
}

.mdl-select.is-focused .mdl-select__label:after {
    left: 0;
    visibility: visible;
    width: 100%;
}

.mdl-select.is-invalid .mdl-select__label:after {
    background-color: rgb(222, 50, 38);
}

.mdl-select__error {
    color: rgb(222, 50, 38);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
}

.mdl-select.is-invalid .mdl-select__error {
    visibility: visible;
}

.mdl-select__expandable-holder {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    max-width: 0.1px;
}

.mdl-select.is-focused .mdl-select__expandable-holder, .mdl-select.is-dirty .mdl-select__expandable-holder {
    max-width: 600px;
}

.mdl-select__expandable-holder .mdl-select__label:after {
    bottom: 0;
}


.quizArea, .quizResults {
    zoom: 1;
    padding: 0 10px;
    margin: 10% auto !important;
}


.startQuiz, #playQuiz {
    margin-top: 0 !important;
    position: absolute !important;
    bottom: 70px !important;
    left: 0 !important;
    border-radius: 0;
    font-size: 1.2em;
    padding: 0;
}


#animated-img {
    width: 250px;
    margin: 40% auto;
}
#animated-img img {
    min-width:100%;
    max-width:100%;
}
.quizResults {
    zoom: 1;
    background: url(img/prize-image.png);
    padding: 40px;
    height: 240px;
    width: 200px;
    color: #fff;
    margin: 0 auto !important;
    border-radius: 3px;
    box-shadow: 1px 2px 5px 2px #8d8d8d;
}

#playBack, #videoPlayer {
    display: block;
}

.bottles {
    margin-bottom: 20px ;
}

.quizLevel {
    font-size: 5em;
}
.earned{
    margin-bottom: 20px ;
}
#endQuiBtn {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

.scoring {
    width: 150px;
    border: 0px solid;
    text-align: center;
    padding: 10px;
}


#sendScore {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 15px;
    font-size:1em !important;
}

a.button.nextQuestion {
    position: absolute;
    bottom: 30px;
    color: #d10000;
    margin: 0 -10px 0 -15px !important;
    background: none;
    padding: 20px 0 !important;
}
/*
a.button.nextQuestion {
    position: absolute;
    bottom: 30px;
    width: auto !important;
}
*/

.button:hover {
    color: #d10000 !important;
    background-color: rgba(209,0,0,0) !important;
    border: 0px solid #d10000 !important;
}

.answerResult {
    margin: 0 auto;
    width: 90%;
    top: 335px;
    position: fixed;
    padding: 0px;
    z-index: 2002;
}

.unit-ans-result .bottles {
    background: url(img/coke-bottle.png);
    height: 80px;
    border: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
}
.unit-ans-result .score {
    color: #888;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;

    width: 90%;

    position: absolute;
    padding: 20px 10px;
    z-index: 2002;
}

.questionDateFrom, .questionDateTo, div.date {
    display: none;
}


.quizLevel span {
    display: none;
}


table#table_users{
    width: 100% !important;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate  {
    display: none !important;
}


.btn-text {
    background: transparent !important;
    box-shadow:none !important;
    color: #d10000 !important;
    font-size: 1.5em;
}


#playGameBtn {
    width: 120px;
    height: 120px;
    /* left: 22.333%;*/
    font-size: 1.8em;
    box-shadow: none;
    padding: 35px 0;
    border-radius: 50%;
    background: url(../img/btn-play.svg) no-repeat transparent !important;
    background-size: 120px 120px !important;
    background-position: center center;
    font-weight: 300;
}




#popupVideo iframe {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
}

a#closeMessage {
    color: #fff !important;
    z-index: 200001;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 50px;
}

body.message {
    width: 100%;
    height: 100%;
    background: #000;
}

#popupVideo {
    top:0;
    left:0;
}



#rays {
    top: -140px; left: -120px;
}


button#show-dialog {
    position: absolute;
    top: 300px;
    z-index: 2000;
    color: #333;
}



.mdl-button {
    margin: 0;
    border: none;

    position: relative;
    display: block;
    -webkit-flex-grow: 0;
    background: #d10000;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .6);
    overflow: hidden;
}


.button {
    float: left;

    font-weight: 500;
/*    padding: 20px;*/
    font-size:1.5em;
    text-align: center;
    text-transform: uppercase;
    color: #d10000;
    border: 0px solid #fff !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: transparent !important;
    /* border-radius: 5px; */
    text-decoration: none;
    margin: 0 auto !important;
    width: 100% !important;
}